.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
  background-color: #000000;
  align-self: center;
  cursor: pointer;
  padding:0;
  margin: 7px 0 0 18px;
}
.profile__edit-button:hover {
  opacity: 0.5;
}
 @media screen and (max-width: 767px) {
  .profile__edit-button {
    align-self: end;
    width: 18px;
    height: 18px;
    margin: 0 0 7px 15.25px;
    min-width: 18px;
  }
}
