.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  align-self: center;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  margin: 0 0 0 auto;
  padding: 0;
  margin-bottom: 2px;
}
.profile__add-button:hover {
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 99%;
    background-size: 16px;
    margin: 32px 0 0;
  }
}
